---
import type { GetStaticPaths } from "astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Title from "src/components/Title.astro";
import { Formatter } from "@utils/formatter";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");

  return posts.map((post: any) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post: post as CollectionEntry<"blog">,
    },
  }));
}) satisfies GetStaticPaths;

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, date, description, image, author, tags } = post.data;

const { Content, headings } = await post.render();

console.log(headings);
---

<BlogLayout {title} >
  <h1 class="text-xs text-gray-500 mb-0">{title}</h1>
  <h4 class="text-md text-gray-400 mb-0 flex justify-between"><span>{author}</span> <span>{Formatter.formateDate(date)}</span></h4>

  <div class="prose dark:prose-dark max-w-none">
    <p>{description}</p>
  </div>

  <Image
    class="object-cover w-full h-[250px] my-5 rounded-md"
    src={image}
    width={600}
    quality="low"
    loading="lazy"
    alt={title}
    transition:name=`blog-post-${title}`
  />

  <!-- Tabla de contenido -->

  <div class="prose dark:prose-dark max-w-none">
    <h2>Tabla de contenido</h2>
    <ul class="list-disc pl-5">
      {
        headings.map((heading: any, index: number) => (
          <li class="my-2">
            <a class="text-blue-500 hover:underline" href={`#${heading.slug}`}>
              {index + 1} - {heading.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <!-- Contenido -->
  <Content />
</BlogLayout>
